extends layout

block content
  h1= NuevaMatricula
  p Alta de nueva asignatura
  form(action='/api/asignatura/new' method='get')
    label(for='name') Nombre asignatura: 
    input#name(type='text' name='nombre')
    br
    label(for='numHoras') Total horas asignatura: 
    input#numHoras(type='text' name='num_horas')
    br
    label(for='docente') Docente: 
    select#docente(name='docente')
      each value in myData  
        option(value=value.id) #{value.nombre} #{value.apellido}
    br
    label(for='alumnos') Alumnos:
    br
    each value in alumnos
      input(type='checkbox' name='alumnos' value=value.id)
      |  #{value.nombre} #{value.apellido}
      br
    input(type="submit")